<h1>UsersController#index</h1>


<h2>Search</h2>
<form action="search">
  First name: <input type="text" name="first_name"><br>
  <input type="submit" value="Submit">
</form>

<%= params %>

<br />
<br />
<% @users.each do |user| %>
  <%= user.id %>
  <%= user.first_name %>
  <%= user.last_name %>
  <%= user.username %>
  <% if user.email != '' %>
    <%= user.email %>
  <% else %>
    <%= 'no email' %>
  <% end %>
  <br />
<% end %>
